<%= form_for(@qualificacao) do |f| %>
  <% if @qualificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualificacao.errors.count, "error") %> prohibited this qualificacao from being saved:</h2>

      <ul>
      <% @qualificacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if Cliente.all.count != 0 && Restaurante.all.count != 0%>
    <div class="field">
      
      <%= f.label :cliente_id %><br />
        <%= f.collection_select(:cliente_id, Cliente.order('nome'), :id, :nome, {:prompt => true}) %>
        
    </div>
    <div class="field">
      <%= f.label :restaurante_id %><br />
        <%= f.collection_select( :restaurante_id, Restaurante.order('nome'), :id, :nome, {:prompt => true}) %>

    </div>
    <div class="field">
      <%= f.label :nota %><br />
      <%= f.text_field :nota %>
    </div>
    <div class="actions">
    <%= submit_tag 'Criar Qualificação' %>
    </div>
  <% else %>
  <h2> É necessário que exista o banco um restaurante e um cliente </h2>
  <% end %>

<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
